#sec1{
    background-image: url(./Capture.PNG);
    color: white;
    padding-bottom: 2%;
    
  
}
.div1{
    display: flex;

}
.div3{
    display: flex;
   margin-left: 55%;
   margin-top: 4px;
}

.ul{
    display: flex;
   
    list-style: none;
}
.ul li{
   margin-left: 25px;
position: relative;

}
.li1{
    font-size: 30px;
   
}
.li2{
    margin-top: 10px;
   position: relative;
   left: 30px;
}
.div3 button{
    width: 80px;
    height: 30px;
    margin: 12px;
    background-color: rgb(92, 92, 237);
    color: white;
    border-radius: 5px;
    border: solid 1px rgb(92, 92, 237);
}
.div3 i{
   margin-top: 20px;
}

.div4{
    text-align: center;
   padding: 6% 35%;
   
}

.div4 h1{
    font-size: 45px;
}
.div4 p{
    font-size: 20px;
    position: relative;
    bottom: 10px;
}

.div4 button{
    height: 30px;
}
.btn1{
    background-color: rgb(73, 73, 240);
    color: white;
    border: 1px solid rgb(73, 73, 240);
    border-radius: 3px;
}

.btn2{
    background-color: rgb(45, 45, 74);
  
    color: white;
    border: 1px solid rgb(73, 73, 240);
    border-radius: 3px;
}

#sec2{
    background-color: rgb(17, 158, 239);
   position: relative;
   bottom: 11px;
   color: white;
}

.div5{
    text-align: center;
    padding: 4% 30%;
   
}

.div5 h1{
   
    font-size: 40px;
}

.div5 p{
   
   position: relative;
   bottom: 15px;
}
.img{
    width: 50px;
}

.div6{
    display: flex;
    padding: 0% 8%;
}
.div6 div{
    margin: 8px;
}

.div6 div p{
 
}




